<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <div class="container">
    <a href="./">
        <h1>Timestamp Microservice</h1>
    </a>
    <h2>Example Usage</h2>
    <div>
      <ul>
        <li>
        <a href="./December%2015,%202015" target="_blank">https://timestampmcss.herokuapp.com/2016-11-24</a>
        </li>
        <li>
        <a href="./1450137600" target="_blank">https://timestampmcss.herokuapp.com//1450137600</a>
        </li>
        </ul>
    </div>
    <h2>Example Output</h2>
    <div>
        <code>
            { "unix": 1450137600, "utc": "December 15, 2015" }
        </code>
    </div>
    </div>
</body>
</html>
